
body{
    background-color: #FFFFFF;
}

.class_1{
    margin:10 auto;
    position: relative;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.main_class{
    position: relative;
    display: flex;
    justify-content: space-between;
}
.secondary{
    display: flex;
    flex-direction: column;
}